/* Pie de pagina */
#footer{
    background-color: #FFE49E;

    p{    
        color: #AC7200;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}

