@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #F9F9F9;
}

.bg-rojo {
  background-color: #D60000;
}

.contenedor-logo {
  width: 30%;
}

.logo {
  color: #FFD600;
  font-weight: bold;
  font-size: 40px;
}
.logo:hover {
  color: #FFD600;
}

@media (max-width: 1190px) {
  .logo {
    font-size: 32px;
  }
}
.navegacion {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

@media (max-width: 1190px) {
  .navegacion {
    font-size: 17px;
    margin: 5px;
  }
}
.redsocial-tamanio {
  width: 40px;
  justify-content: space-between;
}

.navegacion:hover {
  color: rgb(205, 0, 0);
  background-color: #F2EADF;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 0;
}

.comida-texto {
  background-color: white;
  border-radius: 22px 22px 0 0;
}
.comida-texto h3 {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
  color: #009306;
  font-weight: bold;
}
.comida-texto .descripcion1 {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
}
.comida-texto .descripcion2 {
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.comida-texto .precio {
  color: #C20000;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .pollo1, .pollo2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .pollo1, .pollo2 {
    display: flex;
    flex-direction: column;
  }
}
.titulo h1 {
  font-size: 50px;
  text-align: center;
  padding: 40px 0 30px 0;
}

@media (max-width: 575px) {
  .titulo h1 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
  }
}
.local-texto {
  font-size: 20px;
  background-color: white;
  width: 95%;
  padding: 20px;
}

.local-texto h3 {
  font-weight: bold;
}

.datos-titulo {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 15px;
}

@media (max-width: 496px) {
  .datos-titulo {
    font-size: 30px;
  }
}
.datos-contenido {
  font-size: 25px;
}

@media (max-width: 496px) {
  .datos-contenido {
    font-size: 20px;
  }
}
.datos-contenido input {
  border: 1px solid rgb(174, 174, 174);
  padding-left: 10px;
}

/* Describa su consulta */
.consulta-titulo {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 15px;
}

@media (max-width: 496px) {
  .consulta-titulo {
    font-size: 30px;
  }
}
.consulta .contenedor-local {
  font-size: 25px;
}

@media (max-width: 496px) {
  .consulta .contenedor-local {
    font-size: 20px;
  }
}
.consulta .contenedor-local select {
  font-size: 20px;
}

.contenedor-describa-consulta {
  font-size: 25px;
}

@media (max-width: 496px) {
  .contenedor-describa-consulta {
    font-size: 20px;
  }
}
.contenedor-describa-consulta textarea {
  border-radius: 10px;
  border: 1px solid rgb(174, 174, 174);
  padding: 10px;
}

/* Botones */
.botones {
  margin: 0 0 60px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.botones button {
  width: 220px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  border: 0;
}

@media (max-width: 496px) {
  .botones {
    flex-direction: column;
    align-items: center;
  }
  .botones button {
    font-size: 25px;
  }
}
.botones .borrar button {
  color: white;
  background: #FF3FE0;
}

.botones .borrar button:hover {
  background: #d91bba;
}

.botones .enviar button {
  color: white;
  background: #FC7900;
}

.botones .enviar button:hover {
  background: #c66000;
}

/* Pie de pagina */
#footer {
  background-color: #FFE49E;
}
#footer p {
  color: #AC7200;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.scale:hover {
  transform: scale(1.04);
  transition: transform 0.4s;
}

.scaleX:hover {
  transform: scaleX(1.06) scaleY(1.03);
  transition: transform 0.4s;
}

.efectoLogo {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.efectoNavBar {
  animation: text-focus-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.efectoRedes {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.efectoPortada {
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.efectoFoto {
  animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.efectoGeneral {
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-9 16:23:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-2-9 16:21:22
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-2-9 16:15:40
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-9 16:25:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-2-9 16:27:19
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */